@{
    ViewData["Title"] = "Weavy Zoom Integration";
}

<div>
    <h1>Weavy Zoom integration</h1>
    <p>
        Zoom helps businesses and organizations bring their teams together in a frictionless environment to get more done. With the Weavy Zoom integration, you can now start an instant meeting or join a meeting in the Weavy Messenger, the Feeds app and the Comments app without ever leaving Weavy!
    </p>

    <h2>Installation</h2>
    <h4>Step 1</h4>
    <p>Go to either the Messenger, the Feeds app or the Comments app. In the Messenger, select a converstion or start a new one. If you are in the Feeds or Comments app, you will have the option to add a new Zoom meeting in the editor.</p>
    <img src="https://docs.weavy.com/img/zoom-user-1.png" />

    <h4>Step 2</h4>
    <p>Next to the Messenger input field or the Feed/Comment editor, click on the video icon to add a new Zoom meeting. If you haven't yet authenticated with Zoom, you must first click on the "Sign in" link next to the meeting.</p>
    <img src="https://docs.weavy.com/img/zoom-user-2.png" />

    <h4>Step 3</h4>
    <p>Once you click on the Sign in link, you will be asked to log in to your Zoom account login credentials as shown below:</p>
    <img src="https://docs.weavy.com/img/zoom-user-3.png" />

    <p>Once signed in, you will be redirected back to Weavy and the meeting is ready to be added to the conversation, post or comment.</p>

    <h2>Usage</h2>

    <h4>Prerequisites</h4>
    <ul>
        <li>A Zoom standard account.</li>
        <li>A Zoom Pro or Business account. This is only required if you want to use cloud recordings. Recorded meetings will automatically show up in the Weavy Messenger when the meeting has ended.</li>
    </ul>


    <h3>How to use in the Messenger</h3>

    <h4>Step 1</h4>
    <p>
        Create or select an existing conversation
    </p>
    <h4>Step 2</h4>
    <p>
        Click on the video icon next to the message input field. Select "Zoom meeting".
    </p>
    <h4>Step 3</h4>
    <p>Submit your message. A Zoom card will be added with a link to start the meeting. Other people will see the same card but with a "Join meeting" link. Click on the link to start or join the meeting.</p>
    <img src="https://docs.weavy.com/img/zoom-user-4.png" />


    <h3>How to use in a Post or Comment</h3>

    <h4>Step 1</h4>
    <p>
        In the Feeds or Comments app, you can add a Zoom meeting as an attachment. Go to the Feeds or Comments app.
    </p>
    <h4>Step 2</h4>
    <p>
        Click on the video icon on the toolbar. Select "Zoom meeting".
    </p>
    <h4>Step 3</h4>
    <p>Submit your post or comment. A Zoom card will be added with a link to start the meeting. Other people will see the same card but with a "Join meeting" link. Click on the link to start or join the meeting.</p>

    <h2>Zoom meeting updates</h2>
    <p>Weavy subscribes to a couple of events in Zoom to create a better integration experience. The events are described below.</p>

    <h4>Meeting ends</h4>
    <p>Once a meeting has ended, the Zoom card in a conversation, post or comment will automatically be updated with information that the meeting has ended and what time the meeting ended.</p>
    <img src="https://docs.weavy.com/img/zoom-user-5.png" />

    <h4>Meeting recording</h4>
    <p>If the meeting was recorded to the cloud, a link to the recording will be available in the Zoom card.</p>
    <img src="https://docs.weavy.com/img/zoom-user-6.png" />


    <h2>Uninstallation</h2>
    <p>Uninstalling the Weavy Meetings integration with Zoom is easy. Please follow the steps below.</p>
    <ol>
        <li>In the Messenger, Post or Comments app, click on the video icon and select "Zoom Meeting".</li>
        <li>Click on the "Sign out" link.</li>
        <li>Login to your Zoom account and navigate to the Zoom App Marketplace.</li>
        <li>Click <strong>Manage</strong> -> <strong>Installed apps</strong> or search for the <strong>Weavy Meetings</strong> app</li>
        <li>Click the <strong>Weavy Meetings</strong> app</li>
        <li>Click <strong>Uninstall</strong></li>
    </ol>
</div>
