@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<div class="span12 content aos-init aos-animate" data-aos="fade-up">
    <p>Mindroute Incentive USA, Inc., the owner of Weavy, cares about your privacy.&nbsp; For this reason, we collect and use personal data only as it is necessary for us to deliver our product to our clients.</p>
    <p>Our Privacy Policy is intended to describe to you how and what data we collect, and how and why we use your personal data. It also describes options we provide for you to access, update, or otherwise take control of your personal data that we process. &nbsp;</p>
    <p>If at any time you have questions about our practices or any of your rights described below, you may reach our Data Protection Officer (“DPO”) and our dedicated team that supports this office by contacting us at&nbsp;<a href="mailto:info@weavy.com">info@weavy.com</a>&nbsp;</p>
    <h3>1. Data protection at a glance</h3>
    <h4>General notes</h4>
    <p>The following notes provide a simple overview of what happens to your personal data when you visit our website. Personal data is all data with which you can be personally identified. For detailed information on the subject of data protection, please refer to our data protection declaration listed below this text.</p>
    <h4>Data collection on our website</h4>
    <p>As a service provider, we collect only the information needed to provide our world-class service and process customer payments.</p>
    <p>The information we collect might include:</p>
    <ul>
        <li>Account holder name</li>
        <li>Account holder company name</li>
        <li>Email</li>
        <li>Address</li>
        <li>Telephone number</li>
        <li>Internet Protocol (IP) address(s) of the server if used on-premise</li>
        <li>VAT ID for EU clients</li>
        <li>FEIN for USA clients</li>
        <li>National tax identifier information for other countries</li>
    </ul>
    <p>We collect information so that we can provide the best possible experience when you utilize our Services.&nbsp; Much of what you likely consider personal data is collected directly from you when you:</p>
    <ul>
        <li>Create an account or purchase any of our Services (example: name, company name, email address, physical address, IP address, VAT ID for European Union clients, FEIN number for US clients, national tax identifier for other nations)</li>
        <li>Request assistance from our customer support team (example: phone number or email address)</li>
        <li>Complete contact forms or request newsletters or other information from us (example: email)</li>
        <li>Participate in an Internet webinar or training sessions (example: phone number, email address).</li>
    </ul>
    <p>We do not collect information about your use of our Services. However, we might know the IP (Internet Protocol) address(s) for the server if used on-premise.</p>
    <p><strong>How do we collect your data?</strong></p>
    <p>On the one hand, your data is collected when you provide it to us. This may be data that you enter in a contact form, for example.</p>
    <p>Other data is automatically collected by our IT systems when you visit the website. These are mainly technical data (e.g. Internet browser, operating system or time of the page call). This data is collected automatically as soon as you enter our website.</p>
    <p><strong>What do we use your data for?</strong></p>
    <p>Part of the data is collected to ensure that the website is provided without errors. Other data can be used to analyze your user behavior.</p>
    <p>We strongly believe in both minimizing the data we collect and limiting its use and purpose to only that (1)&nbsp;for which we have been given permission, (2) is necessary to deliver the Services you purchase or interact with, or (3)&nbsp;as we might be required and permitted for legal compliance or other lawful purposes.</p>
    <p>These uses include delivering, improving, updating, and enhancing the Services we provide to you.&nbsp;&nbsp;We utilize this information to:</p>
    <ul>
        <li>Improve and optimize the operation and performance of our Services (again, including our websites and mobile applications)</li>
        <li>Diagnose problems with and identify any security risks, errors, or needed enhancements to the Services</li>
        <li>Detect and prevent fraud and abuse of our Services and systems</li>
        <li>Understand and analyze how you use our Services. However, we analyze your use of our services only when you ask us to as part of a professional services engagement or to solve technical issues with your Weavy installation.</li>
    </ul>
    <p><strong>Sharing with third parties.&nbsp;<br></strong>We never share your personal data with third-party entities.</p>
    <p><strong>Processing credit card payments</strong><br>We use Stripe (<a href="https://stripe.com/">https://stripe.com</a>) to process credit card payments. We collect only your email address. We collect no information related to your credit card. That information remains entirely with Stripe.</p>
    <p><strong>Processing Invoices</strong><br>If you pay us through an invoicing process we collect the following information:</p>
    <ul>
        <li>Contact Name</li>
        <li>Company Name</li>
        <li>Billing Address</li>
        <li>Email</li>
        <li>Telephone</li>
    </ul>
    <p><strong>Communicating with you.</strong>&nbsp;<br>We may contact you directly or as necessary to deliver transactional or service-related communications. We may also contact you about technical updates and new features of the Services you have purchased from us. If you give us your consent, we may contact you concerning related services we think you’ll find valuable.</p>
    <p>These contacts may include:</p>
    <ul>
        <li>Email</li>
        <li>Text (SMS) messages</li>
        <li>Telephone calls</li>
    </ul>
    <p>If you believe that anyone has provided us with your personal information and you would like to request that it be removed from our database, please contact us at&nbsp;<a href="mailto:info@weavy.com">info@weavy.com</a>&nbsp;</p>
    <p><strong>What rights do you have regarding your data?</strong></p>
    <p>You have the right to receive information free of charge at any time about the origin, recipient and purpose of your stored personal data. You also have the right to demand the correction, blocking or deletion of this data. For this purpose, as well as for further questions regarding data protection, you can contact us at any time at the address given in the legal notice. Furthermore, you have the right to complain to the responsible supervisory authority.</p>
    <p>Furthermore, you have the right to demand under certain circumstances the restriction of the processing of your personal data. For details, please refer to the data protection declaration under "Right to limit processing".</p>
    <h4>Analysis tools and third-party tools</h4>
    <p>When you visit our website, your surfing behavior can be statistically evaluated. This is mainly done with cookies and with so-called analysis programs. The analysis of your surfing behavior is usually anonymous; the surfing behavior cannot be traced back to you.</p>
    <p>You can object to this analysis or prevent it by not using certain tools. You can find detailed information about these tools and about your options to object to them in the following data protection declaration.</p>
    <h3>2. General notes and mandatory information</h3>
    <h4>Data protection</h4>
    <p>The operators of these pages take the protection of your personal data very seriously. We treat your personal data confidentially and according to the legal data protection regulations, as well as this privacy policy.</p>
    <p>When you use this website various personal data is collected. Personal data is data with which you can be personally identified. This privacy policy explains what data we collect and what we use it for. It also explains how and for what purpose this is done.</p>
    <p>We would like to point out that data transmission on the Internet (e.g. communication by email) can have security gaps. A complete protection of data against access by third parties is not possible.</p>
    <h4>Revocation of your consent to data processing</h4>
    <p>Many data processing operations are only possible with your express consent. You can revoke a previously given consent at any time. For this purpose an informal notification by email to us is sufficient. The legality of the data processing carried out up to the time of revocation remains unaffected by the revocation.</p>
    <h4>Right to object to data collection in special cases and to direct advertising (Art. 21 DSGVO)</h4>
    <p>If the data processing is carried out on the basis of Article 6 paragraph 1 letter e or f DPA, you have the right to object to the processing of your personal data at any time for reasons arising from your particular situation; this also applies to profiling based on these provisions. You will find the respective legal basis on which processing is based in this data protection declaration. If you object, we will no longer process your personal data concerned unless we can prove that there are compelling reasons for processing which are worthy of protection and which outweigh your interests, rights and freedoms, or unless the processing serves to assert, exercise or defend legal claims (objection according to Art. 21 Para. 1 DSGVO).</p>
    <p>If your personal data are processed for the purpose of direct marketing, you have the right to object at any time to the processing of personal data concerning you for the purpose of such marketing, including profiling, insofar as it is connected with such direct marketing. If you object, your personal data will subsequently no longer be used for the purpose of direct advertising (objection under Art. 21 para. 2 DSGVO).</p>
    <h4>Right of appeal to the competent supervisory authority</h4>
    <p>In the event of infringements of the DSGVO, those concerned have a right of appeal to a supervisory authority, in particular in the Member State of their habitual residence, place of work or the place where the alleged infringement was committed. This right of appeal is without prejudice to other administrative or judicial remedies.</p>
    <h4>Right to data portability</h4>
    <p>You have the right to have data that we process automatically on the basis of your consent or in fulfillment of a contract handed over to you or to a third party in a common, machine-readable format. If you request the direct transfer of the data to another responsible party, this will only take place to the extent that it is technically feasible.</p>
    <h4>SSL or TLS Encryption</h4>
    <p>For security reasons and to protect the transmission of confidential content, such as orders or inquiries that you send to us as the site operator, this site uses SSL or TLS encryption. You can recognize an encrypted connection by the fact that the address line of the browser changes from "http://" to "https://" and by the lock symbol in your browser line.</p>
    <p>If the SSL or TLS encryption is activated, the data that you transmit to us cannot be read by third parties.</p>
    <h4>Information, blocking, deletion and correction</h4>
    <p>Within the framework of the applicable legal provisions, you have the right to obtain information free of charge at any time about your stored personal data, its origin and recipients and the purpose of the data processing and, if applicable, a right to correct, block or delete this data. For this purpose, as well as for further questions regarding personal data, you can contact us at any time at the address given in the imprint.</p>
    <h4>Right to limitation of processing</h4>
    <p>You have the right to request the restriction of the processing of your personal data. To do so, you can contact us at any time at the address given in the legal notice. The right to restrict processing exists in the following cases:</p>
    <p>If you dispute the accuracy of your personal data stored with us, we usually need time to verify this. For the duration of the review, you have the right to demand the restriction of the processing of your personal data. If the processing of your personal data was/is unlawful, you may request the restriction of data processing instead of deletion. If we no longer need your personal data, but you need them in order to exercise, defend or assert legal claims, you have the right to request the restriction of the processing of your personal data instead of deletion. If you have lodged an objection in accordance with Art. 21 Paragraph 1 DSGVO, a balance must be struck between your interests and ours. As long as it has not yet been determined whose interests outweigh the interests of both parties, you have the right to demand that the processing of your personal data be restricted.</p>
    <p>If you have restricted the processing of your personal data, these data - apart from their storage - may only be processed with your consent or for the assertion, exercise or defense of legal claims or for the protection of the rights of another natural or legal person or for reasons of an important public interest of the European Union or a Member State.</p>
    <h4>Objection to marketing emails</h4>
    <p>The use of contact data published within the scope of the imprint obligation for the transmission of not expressly requested advertising and information material is hereby contradicted. The operators of the website expressly reserve the right to take legal action in the event of unsolicited sending of advertising information, such as spam emails.</p>
    <h3>3. Data collection on our website</h3>
    <h4>Cookies</h4>
    <p>The Internet pages partly use so-called cookies. Cookies do not damage your computer and do not contain viruses. Cookies serve to make our offer more user-friendly, more effective and safer. Cookies are small text files that are stored on your computer and saved by your browser.</p>
    <p>Most of the cookies we use are so-called "session cookies". They are automatically deleted at the end of your visit. Other cookies remain stored on your end device until you delete them. These cookies enable us to recognize your browser on your next visit.</p>
    <p>You can set your browser so that you are informed about the setting of cookies and allow cookies only in individual cases, exclude the acceptance of cookies for certain cases or in general, and activate the automatic deletion of cookies when closing the browser. If you deactivate cookies, the functionality of this website may be limited.</p>
    <p>Cookies that are required to carry out the electronic communication process or to provide certain functions that you have requested (e.g. shopping basket function) are stored on the basis of Art. 6 para. 1 lit. f DSGVO. The website operator has a legitimate interest in the storage of cookies for the technically error-free and optimised provision of his services. Insofar as other cookies (e.g. cookies for analysing your surfing behaviour) are stored, these are treated separately in this data protection declaration.</p>
    <h4>Server log files</h4>
    <p>The provider of the pages automatically collects and stores information in so-called server log files, which your browser automatically transmits to us. These are:</p>
    <ul>
        <li>Browser type and browser version&nbsp;</li>
        <li>Operating system used&nbsp;</li>
        <li>Referrer URL&nbsp;</li>
        <li>Host name of the accessing computer&nbsp;</li>
        <li>Time of server request&nbsp;</li>
        <li>IP address</li>
    </ul>
    <p>This data is not merged with other data sources.</p>
    <p>These data are recorded on the basis of Art. 6 para. 1 lit. f DSGVO. The website operator has a legitimate interest in the technically error-free presentation and optimization of his website - for this purpose the server log files must be recorded.</p>
    <h4>Contact form</h4>
    <p>If you send us inquiries via the contact form, your details from the inquiry form, including the contact data you provide there, will be stored by us for the purpose of processing the inquiry and in the event of follow-up questions. We will not pass on this data without your consent.</p>
    <p>The processing of the data entered in the contact form is therefore exclusively based on your consent (Art. 6 para. 1 lit. a DSGVO). You can revoke this consent at any time. For this purpose, an informal notification by email to us is sufficient. The legality of the data processing procedures carried out up to the time of revocation remains unaffected by the revocation.</p>
    <p>The data entered by you in the contact form will remain with us until you request us to delete it, revoke your consent for storage or the purpose for which the data was stored ceases to apply (e.g. after your request has been processed). Mandatory legal provisions - in particular retention periods - remain unaffected.</p>
    <h4>Inquiry by email or telephone</h4>
    <p>If you contact us by email or telephone, your inquiry including all personal data (name, inquiry) will be stored and processed by us for the purpose of processing your request. We will not pass on this data without your consent.</p>
    <p>The processing of this data is carried out on the basis of Art. 6 para. 1 lit. b DSGVO, insofar as your inquiry is connected with the fulfillment of a contract or is necessary for the implementation of pre-contractual measures. In all other cases, processing is based on your consent (Art. 6 para. 1 lit. a DSGVO) and/or on our legitimate interests (Art. 6 para. 1 lit. f DSGVO), as we have a legitimate interest in the effective processing of the inquiries addressed to us.</p>
    <p>The data sent to us by you via contact requests will remain with us until you request us to delete it, revoke your consent to its storage or the purpose for which it was stored ceases to apply (e.g. after your request has been processed). Mandatory statutory provisions - in particular statutory retention periods - remain unaffected.</p>
    <h4>Registration on this website</h4>
    <p>You can register on our website to use additional features on the site. We will use the data entered for this purpose only for the purpose of using the respective offer or service for which you have registered. The mandatory data requested during registration must be provided in full. Otherwise, we will refuse the registration.</p>
    <p>In the event of important changes, such as changes to the scope of the offer or technically necessary changes, we will use the email address provided during registration to inform you in this way.</p>
    <p>The processing of the data entered during registration is based on your consent (Art. 6 para. 1 lit. a DSGVO). You can revoke any consent you have given at any time. For this purpose, an informal notification by email to us is sufficient. The legality of the data processing already carried out remains unaffected by the revocation.</p>
    <p>The data collected during registration is stored by us for as long as you are registered on our website and is then deleted. Legal retention periods remain unaffected.</p>
    <h4>Comment function on this website</h4>
    <p>For the comment function on this page, in addition to your comment, information on the time of the creation of the comment, your email address and, if you are not posting anonymously, the user name you have chosen are stored.</p>
    <p><strong>Storage of the IP address</strong></p>
    <p>Our comment function stores the IP addresses of users who post comments. Since we do not check comments on our site before they are activated, we need this data in order to be able to take action against the author in the event of legal violations such as slander or propaganda.</p>
    <p><strong>Storage period of the comments</strong></p>
    <p>The comments and the associated data (e.g. IP address) are stored and remain on our website until the commented content has been completely deleted or the comments have to be deleted for legal reasons (e.g. slanderous comments).</p>
    <p><strong>Legal basis</strong></p>
    <p>The storage of the comments is based on your consent (Art. 6 para. 1 lit. a DSGVO). You can revoke any consent you have given at any time. For this purpose, an informal communication by email to us is sufficient. The legality of the data processing operations already carried out remains unaffected by the revocation.</p>
    <h4>Processing of data (customer and contract data)</h4>
    <p>We collect, process and use personal data only to the extent that they are necessary for the establishment, content or modification of the legal relationship (inventory data). This is done on the basis of Art. 6 para. 1 lit. b DSGVO, which permits the processing of data for the fulfillment of a contract or pre-contractual measures. We collect, process and use personal data on the use of our Internet pages (usage data) only to the extent necessary to enable the user to use the service or to invoice the user.</p>
    <p>The collected customer data is deleted after completion of the order or termination of the business relationship. Legal retention periods remain unaffected.</p>
    <h4>Data transmission upon conclusion of contract for services and digital contents</h4>
    <p>We only transfer personal data to third parties if this is necessary within the framework of the contract, for example to the credit institution commissioned with the handling of payments.</p>
    <p>A further transmission of the data does not take place or only if you have expressly agreed to the transmission. Your data will not be passed on to third parties without your express consent, for example for advertising purposes.</p>
    <p>The basis for data processing is Art. 6 para. 1 lit. b DSGVO, which permits the processing of data for the fulfillment of a contract or pre-contractual measures.</p>
    <h3>4. Analysis tools and advertising</h3>
    <h4>Google Analytics</h4>
    <p>This website uses functions of the web analysis service Google Analytics.</p>
    <p>Google Analytics uses so-called "cookies". These are text files which are stored on your computer and which enable an analysis of your use of the website. The information generated by the cookie about your use of this website is usually transferred to a Google server in the USA and stored there.</p>
    <p>The storage of Google Analytics cookies and the use of this analysis tool are based on Art. 6 para. 1 lit. f DSGVO. The website operator has a legitimate interest in the analysis of user behavior in order to optimize both his website and his advertising.</p>
    <p><strong>IP Anonymization</strong></p>
    <p>We have activated the IP anonymization function on this website. As a result, your IP address is shortened by Google within member states of the European Union or in other contracting states of the Agreement on the European Economic Area before it is transmitted to the USA. Only in exceptional cases will the full IP address be transferred to a Google server in the USA and shortened there. On behalf of the operator of this website, Google will use this information to evaluate your use of the website, to compile reports on the website activities and to provide further services to the website operator in connection with the use of the website and the Internet. The IP address transmitted by your browser within the framework of Google Analytics is not combined with other data from Google.</p>
    <p><strong>Browser Plugin</strong></p>
    <p>You may refuse the use of cookies by selecting the appropriate settings on your browser, however please note that if you do this you may not be able to use the full functionality of this website. You can also prevent the collection of data generated by the cookie and related to your use of the website (including your IP address) to Google and the processing of this data by Google by downloading and installing the browser plugin available under the following link: https://tools.google.com/dlpage/gaoptout?hl=de.</p>
    <p><strong>Objection to data collection</strong></p>
    <p>You can prevent Google Analytics from collecting your data by clicking on the following link. An opt-out cookie will be set to prevent the collection of your information on future visits to this site: Disable Google Analytics.</p>
    <p>For more information about how Google Analytics treats user information, please see the Google Privacy Policy: https://support.google.com/analytics/answer/6004245?hl=de.</p>
    <p><strong>Order processing</strong></p>
    <p>We have concluded a contract with Google for order processing and fully implement the strict requirements of the Swiss data protection authorities when using Google Analytics.</p>
    <p><strong>Demographic characteristics in Google Analytics</strong></p>
    <p>This website uses the "demographic features" function of Google Analytics. This allows us to generate reports that contain information about the age, gender and interests of the site visitors. This data is derived from interest-based advertising by Google as well as from visitor data from third parties. This data cannot be assigned to a specific person. You can disable this feature at any time in the ad settings in your Google Account or generally prohibit Google Analytics from collecting your information as described in the "Opting out of data collection" section.</p>
    <p><strong>Return of Personal Information<br></strong>At your request, and assuming you no longer have an active contract with us, we will return all of the personal information we have about you, along with a certificate that we have removed this information from all of our electronic and paper records, with the exception of any information required to be retained under Section 802 of the Sarbanes-Oxley Act. We also will tell you what information we are required to retain by Sarbanes-Oxley.</p>
    <h3>5. Newsletter</h3>
    <h4>Newsletter data</h4>
    <p>If you would like to receive the newsletter offered on the website, we need an email address from you, as well as information that allows us to verify that you are the owner of the email address provided and that you agree to receive the newsletter. Further data will not be collected or only on a voluntary basis. We use this data exclusively for sending the requested information and do not pass them on to third parties.</p>
    <p>The processing of the data entered in the newsletter registration form is based exclusively on your consent (Art. 6 para. 1 lit. a DSGVO). You can revoke your consent to the storage of the data, the email address as well as its use for sending the newsletter at any time, for example by using the "unsubscribe" link in the newsletter. The legality of the data processing operations already carried out remains unaffected by the revocation.</p>
    <p>The data you have provided us with for the purpose of subscribing to the newsletter will be stored by us until you unsubscribe from the newsletter and deleted after you cancel the newsletter. Data that has been stored by us for other purposes remains unaffected by this.</p>
    <h3>6. Online marketing and partner programs</h3>
    <h4>HubSpot</h4>
    <p>We use HubSpot for our online marketing activities. This is an integrated software solution with which we cover various aspects of our online marketing.</p>
    <p>These include:</p>
    <ul>
        <li>Content management (website and blog)</li>
        <li>Email marketing (newsletters and automated mailings, for example for the provision of downloads)</li>
        <li>Reports and Analytics</li>
        <li>Contact management (CRM)</li>
        <li>Landing pages and contact forms</li>
    </ul>
    <p>With our registration service, we enable our website visitors to learn more about our company, download content and provide their contact information and other demographic information. This information is stored on servers of our software partner HubSpot. We may use this information to contact visitors to our website and to determine which of our company's services are of interest to them.</p>
    <p>All information collected by us is subject to this Privacy Policy. We use all information collected solely to improve our marketing. HubSpot is a software company based in the USA. For more information about HubSpot's privacy policy, please visit the HubSpot website: <a href="https://legal.hubspot.com/privacy-policy?__hstc=250505177.94413416a477c35e181adeb50bcc5dc1.1602658627609.1602658627609.1606212629129.2&amp;__hssc=250505177.1.1606212629129&amp;__hsfp=789621553">https://legal.hubspot.com/privacy-policy</a>.</p>
    <p><strong>Transfer of personal data abroad.&nbsp;<br></strong>If you utilize our Services from a country other than the country where our servers are located, your communications with us may result in transferring your personal data across international borders. Also, when you call us or initiate a chat, we may provide you with support from one of our global locations outside your country of origin. In these cases, your personal data is handled according to this Privacy Policy.</p>
    <p><strong>Compliance with legal, regulatory and law enforcement requests.<br></strong>We cooperate with government and law enforcement officials and private parties to enforce and comply with the law. We will disclose any information in our possession about you to government or law enforcement officials or private parties as we, in our sole discretion, believe necessary or appropriate to respond to claims and legal process (such as subpoena requests), to protect our property and rights or the property and rights of a third party, to protect the safety of the public or any person, or to prevent or stop activity we consider to be illegal or unethical.</p>
    <p>To the extent we are legally permitted to do so, we will take reasonable steps to notify you in the event that we are required to provide your personal information to third parties as part of legal process.</p>
    <p><strong>Third-party websites.&nbsp;<br></strong>In the odd instance that there is a link to a third-party website, we are not responsible for the privacy practices or the content of third-party sites.&nbsp; Please read the privacy policy of any website you visit.</p>
    <p><strong>Contact Us<br></strong>If you have any questions, please contact us at<span>&nbsp;</span><a href="mailto:info@Weavy.com">info@Weavy.com</a>&nbsp;</p>
</div>
