@{
    ViewData["Title"] = "Support";
}
<h1 class="text-center">What can we help you with?</h1>

<br />
<div class="row">
    <div class="col">

        <h3>Help</h3>
        <p>

            <a href="https://stackoverflow.com/">Stack Overflow</a> is the premiere Q&A site for developers, enabling the community to vote up best answers, improve on them and comment. If you have a question about Weavy consider posting it there under the [weavy] tag.
        </p>
        <p>
            <ul>
                <li><a href="https://stackoverflow.com/questions/tagged/weavy">See all questions about Weavy</a></li>
                <li><a href="https://stackoverflow.com/questions/ask?tags=weavy">Ask a question about Weavy</a></li>
            </ul>
        </p>
        <p>
            If you have a valid license you can also get priority support by sending an email to support@weavy.com.
        </p>


        <div class="card-deck mt-5">
            <div class="card">
                <img src="https://www.weavy.com/hubfs/faqintro3.svg" class="card-img-top" alt="" style="max-width:200px;align-self: center;">
                <div class="card-body">
                    <h5 class="card-title">Contact us</h5>
                    <p class="card-text">Get in touch with us at <a href="mailto:support@@weavy.com">support@@weavy.com</a>. You can also head over to <a href="https://docs.weavy.com">https://docs.weavy.com</a> for all the documentation and tutorials.</p>
                </div>
            </div>

            <div class="card">
                <img src="https://www.weavy.com/hubfs/features-collage4.svg" class="card-img-top" alt="" style="max-width: 200px;align-self: center;">
                <div class="card-body">
                    <h5 class="card-title">Try Weavy!</h5>
                    <p class="card-text">Want to try out Weavy? No problem, just head over to <a href="https://www.weavy.com/try/app">https://www.weavy.com/try/app</a>. No sign up. No registration. Just do!</p>

                </div>
            </div>

            <div class="card">
                <div class="text-center"><img src="/img/GitHub-Mark-120px-plus.png" class="card-img-top mt-5" alt="" style="max-width:170px;align-self: center;"></div>
                <div class="card-body">
                    <h5 class="card-title">Github</h5>
                    <p class="card-text">Check us out at Github!</p>
                    <p><a href="https://github.com/Weavy">https://github.com/Weavy</a></p>

                </div>
            </div>
        </div>

        <h3 class="mt-5">Troubleshooting</h3>
        <p>
            Your first step in troubleshooting Weavy errors should always be to look at the log files. More often than not they contain a good hint to what's wrong.

            Another thing you should do is examine the Windows Logs/Application events available in the Windows Event Viewer.
        </p>

    </div>
</div>

<br /><br /><br />
<div class="row">
    <div class="col text-center">
        <h2>Have a question?</h2>
        <a class="btn btn-lg btn-primary mt-3" href="mailto:support@@weavy.com">Contact us!</a>
        <p class="text-muted mt-2"><small>We'll get back to you within 24 hours during business hours!</small></p>
    </div>
</div>